@model List<QuestionViewModel>
<div class="row">
	<div class="col">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">CorrectChoice</th>
					<th scope="col">Choice One</th>
					<th scope="col">Choice Two</th>
					<th scope="col">Choice Three</th>
					<th scope="col">Choice Four</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody class="question-table-body">
				@if(Model?.Count > 0)
				{
					@foreach(var question in Model)
					{
						<tr>
							<td>@question.QuestionId</td>
							<td>@question.QuestionTitle</td>
							<td>@question.CorrectChoice</td>
							<td>@question.FirstChoice</td>
							<td>@question.SecondChoice</td>
							<td>@question.ThirdChoice</td>
							<td>@question.FourthChoice</td>
							<td><a class="btn btn-warning text-white">Edit</a></td>
							<td><a class="btn btn-danger text-white">Delete</a></td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
